In [2]:
import pandas as pd
import requests
import numpy as np
from bs4 import BeautifulSoup
from time import sleep
from random import randint

### Crawling

In [3]:
# URL for all active players and their salaries.

url = "https://www.basketball-reference.com/contracts/players.html"
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

# Crawling the names and salary table.

tbl = soup.find("table", attrs={"class": "sortable"})
headers = ["Player", "2021-22"]
rows = soup.findAll('tr')[1:]
player_names = [[td.getText() for td in rows[i].findAll('td',attrs={'data-stat':'player'})] for i in range(len(rows))]
player_salary = [[td.getText() for td in rows[i].findAll('td',attrs={'data-stat':'y1'})] for i in range(len(rows))]

# Extracting the names and salaries out of the inner lists.

player_names2 = [j for i in player_names for j in i]
player_salary2 = [j for i in player_salary for j in i]

### Making a DataFrame containing the players' names and their salaries.

In [4]:
df_salary = pd.DataFrame({"Player":player_names2,"Salary":player_salary2})
df_salary.head()

              Player       Salary
0      Stephen Curry  $45,780,966
1          John Wall  $44,310,840
2  Russell Westbrook  $44,211,146
3       James Harden  $43,848,000
4       LeBron James  $41,180,544

In [5]:
# Saving the data into a csv file.
df_salary.to_csv('Salary_data.csv', index=False)